# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.sqlite3
*.db

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
E:/Python/Gen AI/LangChain/venv/

# Cache
.cache/
.mypy_cache/
.pytest_cache/

#