# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.sqlite3
*.db

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
E:/Python/Gen AI/LangChain/venv/

# Cache
.cache/
.mypy_cache/
.pytest_cache/

#lock
chromadb-4022ce7607f99e2546a2517f89d6fcb9.lock
chromadb-cab67d820fea6bb34b2ddbbbbd236e09.lock
crewai-rag-tool.lock